<h1>Documentation</h1>

<p>Use our live documentation to learn about Hello World API</p>

<h2>SafeCape<h2>
<a href="/docs/safecapeapi" class="btn btn-primary">Show Swagger</a>
<a href="/pdf/SafeCape" class="btn btn-primary">Show PDF</a>
<hr>

<h2>Personalized dietary advice</h2>
<a href="/docs/pdas" class="btn btn-primary">Show Swagger</a>
<a href="/pdf/Food4me" class="btn btn-primary">Show PDF</a>
<hr>


<h2>EuroFir: Food Composition Data<h2>
<a href="/docs/EuroFIR-DietaryReferenceValues" class="btn btn-primary">Show Swagger</a>
<a href="/pdf/EuroFIRWebServicesSpecification_QuaLiFY" class="btn btn-primary">Show PDF</a>
<hr>

<h2>EuroFir: Reference values<h2>
<a href="/docs/EuroFIR-DietaryReferenceValues" class="btn btn-primary">Show Swagger</a>
<a href="/pdf/EuroFIR_DRV.pdf" class="btn btn-primary">Show PDF</a>
<hr>

<h2>FoodWiz<h2>
<a href="/pdf/FoodWiz" class="btn btn-primary">Show PDF</a>
  