<h1>Documentation</h1>

{% for service in provider.services %}
  <h2>{{ service.name }}<h2>
  <a href="/docs/{{ service.system_name }}" class="btn btn-primary">Show Swagger</a>
  <a href="/pdf/{{ service.system_name }}.pdf" class="btn btn-primary">Show PDF</a>
  <hr>
{% endfor %}
